<div class="navbar-container">
    <div class="navbar">
      <div class="logo">
        <a routerLink="/">
          <h2>ProyectoIdentity</h2>
        </a>
      </div>
      <div class="nav-links">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/login" routerLinkActive="active">Acceder</a>
        <a routerLink="/register" routerLinkActive="active" pButton class="p-button-primary">Registro</a>
      </div>
    </div>
  </div>